name: Development - Build & deploy

on:
  workflow_dispatch:

concurrency:
  group: test-deploy

env:
  # Name of Azure Web APP
  APP_NAME: app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: dotnet Publish App
        run: sleep ${{ vars.VAR_SLEEPDURATION }} && echo ${{ vars.VAR_TESTMESSAGE }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: dotnet Publish App
        run: sleep ${{ vars.VAR_SLEEPDURATION }} && echo ${{ vars.VAR_TESTMESSAGE }}

  waitReport:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Dispatch an action and get the run ID
        uses: codex-/return-dispatch@v1
        id: return_dispatch
        with:
          token: ${{ github.token }}
          repo: test-report
          owner: Duy-KMS
          workflow: dev-deploy.yml
      - name: Await Run ID ${{ steps.return_dispatch.outputs.run_id }}
        uses: Codex-/await-remote-run@v1.0.0
        with:
          token: ${{ github.token }}
          repo: test-report
          owner: Duy-KMS
          run_id: ${{ steps.return_dispatch.outputs.run_id }}
          run_timeout_seconds: 300 # Optional
          poll_interval_ms: 5000 # Optional
