name: Test

on:
  workflow_dispatch:

# Use concurrency to enforce only 1 workflow can run at a time
concurrency:
  group: ${{ endsWith(github.run_number, '0') || endsWith(github.run_number, '2') || endsWith(github.run_number, '4') || endsWith(github.run_number, '6') || endsWith(github.run_number, '8') }}

env:
  # Name of Azure Web APP
  APP_NAME: app
  NUM: ${{ github.run_number }}
  ISEVEN: ${{ endsWith(github.run_number, fromJSON('["0", "2", "4", "6", "8"]')) }}
  TESTDATA: ${{ endsWith(github.run_number, '0') || endsWith(github.run_number, '2') || endsWith(github.run_number, '4') || endsWith(github.run_number, '6') || endsWith(github.run_number, '8') }}
  

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: run number with offset
        run: |
          echo "GITHUB_RUN_NUMBER_WITH_OFFSET=$(($NUM + 200))" >> $GITHUB_ENV
          echo "run_number: ${{ github.run_number }}"
          echo "run_id: ${{ github.run_id }}"
          echo "run_number[0]: ${{ format('{0}', github.run_number)[0] }}"
          echo "run_number[1]: ${{ format('{0}', github.run_number)[1] }}"
          echo "run_number[-1]: ${{ format('{0}', github.run_number)[-1] }}"
          echo "ISEVEN: ${{ env.ISEVEN }}"
          echo "TESTDATA: ${{ env.TESTDATA }}"

      - name: dotnet Publish App
        run: sleep ${{ vars.VAR_SLEEPDURATION }} && echo ${{ vars.VAR_TESTMESSAGE }}
